.back-icon {
  display: block;
  width: 36px;
  height: 36px;
  background-color: var(--color-zinc-300);

  mask: url("/back.svg") center / contain no-repeat;
  -webkit-mask: url("/back.svg") center / contain no-repeat;

  transition: background-color 150ms ease;
}

.back-icon:hover {
  background-color: var(--color-zinc-500);
}